/* Estilos del navbar */
.navBar > .left > #btnHome{
    background-image: url('../Images/Botones/Home.png');
}
.navBar > .center > label{
    color: #fff;
    font-family: 'Merienda One', cursive;
    font-size: x-large;
}
.navBar > .rigth > #btnNewUser{
    background-image: url('../Images/Botones/NewUser.png');
}

/* Estilos del pagecontent */
.pageContent{
    min-height: 62.8vh;
}
.cardLogin{
    width: 90vw;
    height: 45vh;
    margin: auto;
    margin-top: 5vh;
    padding: 1vh;
    border-radius: 5vh;
    background-image: url('../Images/Fondos/FondoLogin.png');
    background-size: 100% 100%;
}
.cardLogin > .text{
    display: block;
    color: #fff;
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: xx-large;
    margin-bottom: 1vh;
}
.cardLogin > form > #userLogin, .cardLogin > form > #passLogin{
    background: #0007;
    display: block;
    margin: auto;
    color: #fff;
    font-size: larger;
    font-family: 'Merienda One', cursive;
    text-align: center;
    padding: .5vh;
    border-radius: 5vh;
    border: 2px solid #56ccef;
    box-shadow: 0 3px 5px #ec34e0;
    border-top: none;
    margin-bottom: 3vh;
    outline: none;
}
#userLogin::placeholder, #passLogin::placeholder{
    color: #fff;
}
.cardLogin > form > #btnLogin{
    background: #0009;
    display: block;
    margin: auto;
    color: #fff;
    font-size: larger;
    text-align: center;
    padding: 1vh 5vh;
    border-radius: 5vh;
    border: 2px solid #56ccef;
    box-shadow: 0 3px 5px #ec34e0;
    border-top: none;
    transition: .6s;
}
.cardLogin > form > #btnLogin:hover{
    transform: scale(1.1);
}